#nav-icon-container #logo {

    position: relative;
    display: inline;
    color: white;
    font-size: 2rem;
    letter-spacing: 10px;
    animation-name: logox;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

/* Fancy, fancy... Because why not have an animation? */

@keyframes logox {

    0% {
        scale: 1;
    }

    24.5% {
        scale: 1;
        transform: skewX(0deg);
    }

    25% {
        scale: 2;
        transform: skewX(30deg);
    }

    25.1% {
        scale: 1;
        transform: skewX(0deg);
    }

    34% {
        scale: 1;
        transform: skewX(0deg);
    }

    34.1% {
        scale: 1.5;
        transform: skewX(-30deg);
    }

    35% {
        scale: 1;
        transform: skewX(0deg);
    }

    37% {
        scale: 1;
        transform: skewX(0deg);
    }

    37.1% {
        scale: 1.8;
    }

    37.3% {
        scale: 1;
    }

    70% {

        transform: skewY(0deg);

    }

    70.1% {

        transform: skewY(180deg);

    }

    70.2% {

        transform: skewY(0deg);

    }

    100% {
        scale: 1;
    }

}