:root {

    --bgcolor: linear-gradient(rgba(56, 56, 56, 0.5), rgba(32, 32, 32, 0.2), rgba(0, 0, 0, 1));
    --bgcolor02: conic-gradient(at 0% 50%, rgba(0, 207, 62, 0.486), rgba(0, 166, 207, 0.315), rgba(255, 208, 54, 0.63), rgba(0, 0, 0, 0.336));
    /* --bgcolor03: conic-gradient(at 0% 100%, rgb(0, 207, 62), rgba(0, 166, 207, 0.507), rgb(255, 208, 54), rgb(0, 0, 0)); */
    /* --bgcolor03: linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); */
    --bgcolor03: rgba(0, 0, 0, 0.5);


    --aside-w: 12%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

}

body {

    width: 100vw;
    height: 100vh;
    margin: 0;

    font-family: Calibri;

}

.page {

    scroll-snap-align: start;
    z-index: 0;

    width: 100%;
    height: 100%;

}

#p_landing {

    background-image: var(--bgcolor02);
    background-color: black;

}

#p_about-me {

    background-color: black;

}

#p_projects {}

#p_contact {}

nav {

    position: fixed;
    top: 0%;

    z-index: 1;
    background-color: var(--bgcolor03);
    /* border-bottom: 3px solid rgba(255, 255, 255, 0.2); */
    width: 100%;
    height: 8%;

}

#nav-icon-container {

    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--aside-w);
    height: 100%;

    float: left;

}

#nav-menu {

    display: flex;
    justify-content: center;

    float: right;
    margin: 0 15% 0 0;

    height: 90%;

}

#nav-menu a {

    display: flex;
    align-items: flex-end;

    padding: 0 15px 10px 15px;
    margin: 0 10px 0 10px;

    color: white;
    text-decoration: none;
    letter-spacing: 5px;
    font-family: Calibri;
    font-size: 1.0rem;

    transition: padding 1s, color 1s;

}

#nav-menu a:hover {

    padding: 0 15px 20px 15px;
    color: grey;

}

#nav-menu a:active {

    padding: 0 15px 10px 15px;
    color: grey;

}


/* Fancy, fancy... Because why not have an animation? */

@keyframes logox {

    0% {
        scale: 1;
    }

    24.5% {
        scale: 1;
        transform: skewX(0deg);
    }

    25% {
        scale: 2;
        transform: skewX(30deg);
    }

    25.1% {
        scale: 1;
        transform: skewX(0deg);
    }

    34% {
        scale: 1;
        transform: skewX(0deg);
    }

    34.1% {
        scale: 1.5;
        transform: skewX(-30deg);
    }

    35% {
        scale: 1;
        transform: skewX(0deg);
    }

    37% {
        scale: 1;
        transform: skewX(0deg);
    }

    37.1% {
        scale: 1.8;
    }

    37.3% {
        scale: 1;
    }

    100% {
        scale: 1;
    }

}

#logo {

    position: relative;
    display: inline;
    color: white;
    font-size: 2rem;
    letter-spacing: 10px;
    animation-name: logox;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    /* background-color: red; */
}

#nav-icon {

    scale: 0.8;

}

@media screen and (min-width: 1000px) {
    #nav-icon {

        display: none;

    }
}