:root {

    --bgcolor: rgb(56, 56, 56);
    --aside-w: 10%;

}

body {

    max-width: 100vw;
    height: 100vh;
    margin: 0;

    font-family: Calibri;
    background-color: var(--bgcolor);

}

nav {

    position: relative;

    width: 100%;
    height: 10%;

}

#nav-icon-container {

    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--aside-w);
    height: 100%;

    float: left;

}

#nav-menu {

    display: flex;
    justify-content: center;

    float: right;
    margin: 0 15% 0 0;

    height: 90%;

}

#nav-menu div {

    display: flex;
    align-items: flex-end;

    padding: 0 15px 10px 15px;
    margin: 0 10px 0 10px;

    transition: padding 1s;

}

#nav-menu div a {

    color: white;
    text-decoration: none;
    letter-spacing: 5px;
    font-family: Calibri;
    font-size: 1.5rem;

    top: 0px;

    transition: color 1s;

}

#nav-menu div:hover {

    padding: 0 15px 20px 15px;

}

#nav-menu div a:hover {

    color: grey;

}


.page-container {

    display: block;
    position: relative;

    width: 100%;
    height: 95%;

    /* background-color: yellow; */

}

header {

    position: relative;

    float: right;

    width: 90%;
    height: 30%;

    background-color: red;

}

aside {

    position: relative;

    float: left;

    width: var(--aside-w);
    height: 100%;

    /* background-color: orange; */

}

#line {

    position: relative;
    display: inline;
    height: 100%;
    width: 3px;

    margin: 0 20% 0 20%;
    background-color: white;

    float: left;

}

#logo {

    position: relative;
    display: inline;
    color: orange;
    font-size: 5rem;

}

main {

    display: flex;
    position: relative;

    width: 90%;
    height: 70%;

    background-color: pink;

}

#content {

    position: relative;

    width: 70%;
    height: 100%;

    background-color: grey;

}

#about-me {

    position: relative;

    width: 30%;
    height: 100%;

    background-color: blue;

}

#nav-icon {

    scale: 0.8;

}

@media screen and (min-width: 1000px) {
    #nav-icon {

        display: none;

    }
}